body{
    padding-left: 10rem;
    padding-right: 10rem;
}
.bluetitle{
    color: #003d8d;
    margin-top: 20px;
}
.border-form{
    border: solid 1px gainsboro;
}
.info-box-orange{
    background: #faebcc;
}
.box{
    display: flex;
}